Django>=4.2
djangorestframework
psycopg2-binary
djangorestframework_simplejwt==5.5.0
django-filter~=21.1
Pillow>=10.0.0
django-environ
django-filter
redis
celery
django-celery-results

#dev-dependecies
pre-commit
django-silk
cloudinary
django-cloudinary-storage
pytest
pytest-django
pytest-cov
black
factory-boy==3.3.0
faker==19.3.0